@page "/"
@namespace Sinet.Universal.Admin.Server.Host.Pages
@using System.Globalization
@using Microsoft.AspNetCore.Components.Web
@using Volo.Abp.AspNetCore.Components.Web.BasicTheme.Themes.Basic
@using Volo.Abp.AspNetCore.Components.Server.BasicTheme.Bundling
@using Volo.Abp.Localization
@{
    Layout = null;
    var rtl = CultureHelper.IsRtl ? "rtl" : string.Empty;
}

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentCulture.Name" dir="@rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sinet.Universal.Admin.Server.Host</title>
    <base href="~/" />
    @* 
    <abp-style-bundle name="@BlazorBasicThemeBundles.Styles.Global" /> *@

    <link rel="icon" type="image/png" href="https://cdn.masastack.com/stack/images/logo/MASAStack/logo16_16.png" />
    <link href="_content/Masa.Blazor/css/masa-blazor.min.css" rel="stylesheet">
    <link href="css/masa-blazor-pro.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="Sinet.Universal.Admin.Server.Host.styles.css" rel="stylesheet" />
    <link href="css/materialdesign/v7.1.96/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="css/material/icons.css" rel="stylesheet">
    <link href="css/fontawesome/v6.4.0/css/all.min.css" rel="stylesheet">
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body class="abp-application-layout bg-light @rtl preloadbody">

    <div id="app" class="loader">
        <component type="typeof(Sinet.Universal.Admin.RCL.App)" render-mode="Server" />
    </div>

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    @* <abp-script-bundle name="@BlazorBasicThemeBundles.Scripts.Global" /> *@
    <script src="_framework/blazor.server.js"></script>
    <script src="js/app.js"></script>
    <script src="_content/BlazorComponent/js/blazor-component.js"></script>
    <script src="js/echarts/5.1.1/echarts.min.js"></script>
</body>
</html>
